# EditorConfig: https://EditorConfig.org
root = true

# rules for all files
[*]
charset = utf-8
end_of_line = lf

indent_size = 2
indent_style = spaces

insert_final_newline = true
trim_trailing_whitespace = true

[*.mk]
indent_size = 4
indent_style = tabs
